 
<%- include("partials/header") %>

        <h1>
            Product Name: <%= item.name %>
        </h1>
        <p>
            Price: <%= item.price %>
        </p>
        <h3>
            Comments
        </h3>
         <ul>
             <!-- <% for (let i = 0; i < comment.content.length; i++){ %>
                <li> <%= comment.content[i]%></li>
             <% } %> -->
             <% comment.content.forEach((msg) => { %>
                 <li><%= msg %></li>
            <% }); %>
             
         </ul>

<%- include("partials/footer") %>
 